
    body{
        font-family: Roboto, Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        
        }
        .head{
            background-color:#8155cd ;
            display: flex;
            height: 40px;
            padding: 0 10px;
            justify-content: space-between;
            align-items: center;
        }
        .head a{
            color: white;
            text-decoration: none;
            font-weight: 500;
        }
        .head input{
            flex: 1;
            height: 25px;
            margin-left: 55px;
            margin-right: 50px;
            max-width: 500px;
            padding-left: 15px;
            border: 0;
            border-radius: 15px;
        }
        .head button{
            background-color: #8155cd;
            border: 1px solid white ;
            color: white;
            height: 30px;
            padding: 0 10px;
        }

         /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .head{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .head{
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .head{
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .head{
        width: 40%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .head{
        width: 20%;
    }
} 